.carta{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 1fr 1fr 200px;
    grid-template-areas: 
    "header header header"
    "main main main"
    "main main main"
    "footer footer footer";

    .cartaGrid{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 500px auto 500px;
        grid-template-areas: 
        "dia wraps wraps toppings"
        "carta carta  carta carta"
        "combos combos cafeteria cafeteria"
        ;
        justify-content: center;  
        li{
            transition: 0.3s;
           &:hover{
            background-color: $fondo_gris ;
            border: 1px solid yellow;
            border-radius: 15px;
            transform: scale(1.25);
        }
    }

}
   
    .wrapsDia{
        grid-area: dia;
    }
    .wraps{
        grid-area: wraps;
    }
    .toppings{
        grid-area: toppings;
    }
    .cartaCompleta{
        grid-area: carta;
    }
    .combos{
           grid-area: combos;
    }
    .cafeteria{
        grid-area: cafeteria;
    }
}

/*  CARTA RESPONSIVE A PARTIR DE 980PX   */
@media screen and (max-width: 980px){
    .carta{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr auto 150px;
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
        .cartaGrid{
            display: grid;
            grid-template-columns: 350px 350px;
            grid-template-rows: 500px 500px auto 500px;
            grid-template-areas: 
            "dia  wraps"
            "toppings toppings"
            "carta carta"
            "combos cafeteria";
            justify-content: center;
            li:hover{
                background-color: $fondo_gris ;
                border: 1px solid yellow;
                border-radius: 15px;
                transform: scale(1);
            }
            .cartaCompleta img{
                width: 650px;
            }
        }
    }

}
/*  CARTA RESPONSIVE A PARTIR DE 540PX   */

@media screen and (max-width: 540px){
    .carta{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr auto 150px;
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
        .cartaGrid{
            display: grid;
            grid-template-columns: 350px;
            grid-template-rows: 1fr 1fr 1fr auto 1fr;
            grid-template-areas: 
            "dia"
            "wraps"
            "toppings"
            "carta"
            "combos"
            "cafeteria";
            justify-content: center;
            li:hover{
                background-color: $fondo_gris ;
                border: 1px solid yellow;
                border-radius: 15px;
                transform: scale(1.10);
            }
            }
            .cartaCompleta{display: none;}
    }
}

