.Contacto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 1fr 200px ;
    grid-template-areas: 
    "header header header "
    "main main main "
    "footer footer footer ";
    .presentacion{
        text-align: left;
        transition: 1s;
        &:hover{
            @include fondo-hover;
            
        }
    
    }
    .infoContacto{
        transition: 0.5s;
        &:hover{
           @include fondo-hover;
        }
    }
}
/*  CONTACTO RESPONSIVE A PARTIR DE 980PX   */

@media screen and (max-width: 980px){
    .Contacto{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto 1fr 200px ;
        grid-template-areas: 
        "header header header header header"
        "main main main main main"
        "footer footer footer footer footer";
        .presentacion{
    
            border: 1px solid white;
            border-radius: 25px;
            background-color: $fondo_gris ;
            
        }
        .infoContacto{
            border: 1px solid white;
        border-radius: 25px;
        background-color: $fondo_gris; 
        } 
    .mapa{
        width: 700px;
    }
    }
}
/*  CONTACTO RESPONSIVE A PARTIR DE 540PX   */

@media screen and (max-width: 540px){
    .Contacto{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto 1fr 150px ;
        grid-template-areas: 
        "header header header header header"
        "main main main main main"
        "footer footer footer footer footer";
        .presentacion{
            border: 1px solid white;
            border-radius: 25px;
            background-color: $fondo_gris ;
            
        }
        .infoContacto{
                border: 1px solid white;
            border-radius: 25px;
            background-color: $fondo_gris;
            } 
        .mapa{
            width: auto;
        }
    }
}