.Index{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto auto 200px ;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    .section2:hover{
        transition: 0.3s;
        background-color: $fondo_gris ;
        border: 1px solid yellow;
        border-radius: 15px;
    } 
}

/*  INDEX RESPONSIVE A PARTIR DE 980PX   */

@media screen and (max-width: 980px){

    .Index{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto 1fr 150px;
        grid-template-areas: 
        "header header header header header"
        "main main main main main"
        "footer footer footer footer footer"
    }
}

/*  INDEX RESPONSIVE A PARTIR DE 360PX   */

@media screen and (max-width: 360px){

    .Index{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto 1fr 150px;
        grid-template-areas: 
        "header header header header header"
        "main main main main main"
        "footer footer footer footer footer";
        

    }
    
}

